$brand-color-for-text: #2196F3;
$button-color: #ffffff;
$active-button-color: #2196F3;
$hover-button-color: #c2ddf3;
$background-element: #ffffff;
$main-text-color: #4A4A4A;
$shadow-element:0 2px 8px rgba(0,0,0,.1);
$default-margin-element: 0 0 20px 0;
$default-button-border: solid 1px #DFE5EC;