$brand-color-for-text: #2196F3;
$button-color: #ffffff;
$active-button-color: #2196F3;
$hover-button-color: #c2ddf3;
$background-element: #ffffff;
$main-text-color: #4A4A4A;
$shadow-element:0 2px 8px rgba(0,0,0,.1);
$default-margin-element: 0 0 20px 0;
$default-button-border: solid 1px #DFE5EC;
$attention-color: #dc3545;
$attention-color-hover: #c92333;

@keyframes showElement{
    0%{ opacity:0; }
    100% { opacity:1; }
}
$default-animation-showElement: showElement 2s 1;
.hide {
    display: none;
}
.show {
    display: block;
    opacity:0;
    animation: $default-animation-showElement;
    animation-fill-mode: forwards;
}